@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Nunito&family=Poppins:wght@300;400;600&family=Roboto:wght@100;400;500&display=swap");

:root {
    --main-bg-color: #264653;
    --main-bg-hover-color: #264680;
    --wrapper-bg-color: #fff;
    --title-color: #184e77;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html {
    font-size: 25px;
    scroll-behavior: smooth;
}

body {
    background: var(--main-bg-color);
    padding: 0;
    margin: 0;
}



.wrapper {
    max-width: 1100px;
    min-width: 50%;
    height: 80%;
    background: var(--wrapper-bg-color);
    margin: 20px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
    border-radius: 15px;
    z-index: 10;

}

h1 {
    font-size: 100%;
    min-width: 50%;
}



.title {
    font-size: 1.5rem;
    margin-bottom: 50px;
    color: var(--title-color);
    text-transform: uppercase;
    text-align: center;
}

span {
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: #606060;
    font-size: 1rem;
    font-weight: 400;
}


h2 {
    margin-bottom: 100px;
    text-align: center;
    margin-top: 100px;
}






form {
    position: relative;
    width: 100%;
    border-radius: 5px;
}

.inputfield {
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;

}


.inputfield>div {
    align-self: flex-end;
    flex-grow: 1;
    width: 50%;
}



label {
    color: #757575;
    font-size: 1rem;
    width: 40%;
}

.input,
textarea,
select,
input,
datalist {
    width: 100%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 1rem;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.textarea {
    width: 100%;
    height: 125px;
    resize: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    border: 1px solid #d5dbd9;
    border-radius: 5px;
    background-color: #fff;
    background-position: calc(100% - 12px) center !important;
    background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>") no-repeat;
}

select::after {
    content: "";
}

.input:focus,
.textarea:focus,
select:focus {
    border: 1px solid #264653;
}

.inputfield p {
    font-size: 1rem;
    color: #757575;
}

.checkmark {
    width: 20px;
    height: 20px;
    border: 2px solid #264653;
    display: grid;
    position: relative;
    right: 20px;
}

.checkmark:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 2px;
    width: 10px;
    height: 10px;
    border: 2px solid;
    border-color: transparent transparent #fff #fff;
    transform: rotate(-45deg);
    display: none;
    right: 20px;
}

input[type="checkbox"]:checked~.checkmark {
    background: #264653;
}

.steps {
    margin-bottom: 100px;
}

input[type="checkbox"]:checked~.checkmark:before {
    display: block;
}

.btn:hover {
    opacity: 0.8;
    transition: 0.2;
}

.inputfield:last-child {
    margin-bottom: 15px;
}





/* Validation */

form {
    padding: 0 40px 30px;
}

label {
    color: #828cad;
}

input select {
    border-radius: 5px;
    outline: 0;
    display: block;
    font-size: 1rem;
    width: 100%;
    padding: 15px;
    display: block;
}

.inputfield i {
    position: absolute;
    top: 45px;
    right: 10px;
    visibility: hidden;
}

.inputfield small {
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    font-size: 1rem;
}

.inputfield.terms {
    margin-top: 80px;
    width: auto;
}

.inputfield button {
    background-color: var(--main-bg-color);
    border-radius: 5px;
    color: #fff;
    padding: 15px;
    font-size: 1rem;
    font-weight: 600;
    width: 100%;
    border: 0;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-bg-color);
    transition: 0.3s;
    opacity: 0.8;
}

.terms-checkbox {

    display: grid;
    grid-template-columns: 1fr 5fr;
    width: 500px;
    align-items: center;


}

textarea {
    text-align: justify;
}

.terms-checkbox>label {
    width: 100%;
}

.termos {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

ul li {
    padding-bottom: 15px;
    list-style-type: none;
}

ul:last-child {
    padding-bottom: 38.5px;
}

#dados_para_evento .inputfield .custom_select,
#dados_para_evento .inputfield input {
    margin-top: 15px;
}